mixin comment(comment)
  .comment
    .commentOwner

      img(class="commentAvatar" src=`https://ui-avatars.com/api/?name=${comment.author.username}&rounded=true`, alt="comment author avatar")
      span.commentAuthor=`${comment.author.username}`
      span.commentDate=comment.createdAt
      if(JSON.stringify(user._id) == JSON.stringify(comment.author._id))
        .dropdown
          img(class="dotsMenu" src="images/3-square-dots.svg" alt="Edit/Delete")
          .dropdown-content
            a(href="" class='deleteBtn' data-Id= `${post_id} ${comment._id}`) Delete
    .commentText
      p=comment.text