mixin postCard(post, userId)
  include ./comment.pug 
  - var post_id = post._id;
  .card
    .postOwner
      div
        h3= `${post.author.username}`
        p= post.createdAt
      if(JSON.stringify(user._id) == JSON.stringify(post.author._id))
        .dropdown
          img(class="dotsMenu" src="images/3-square-dots.svg" alt="Edit/Delete")
          .dropdown-content
            a(href="" class='deleteBtn' data-post-Id= post_id) Delete                  
            a(href="" class='editModelBtn' data-postId= post_id data-postBody= post.body) Edit
    .postText
      p= post.body
    .postLikes
      - var likes = post.likes.length;
      case likes
        when 0
          img(src="images/empty-heart-icon.svg" alt="empty heart")
        when 1
          img(src= post.likes.some(user => JSON.stringify(user._id) === JSON.stringify(userId)) ? "images/filled-heart-icon.svg" : "images/empty-heart-icon.svg")
          p(class='heart-' + post_id) #{post.likes[0].username} likes this
        when 2
          img(src= post.likes.some(user => JSON.stringify(user._id) === JSON.stringify(userId)) ? "images/filled-heart-icon.svg" : "images/empty-heart-icon.svg")
          p(class='heart-' + post_id) #{post.likes[0].username} and #{post.likes[1].username} like this
        default
          img(src= post.likes.some(user => JSON.stringify(user._id) === JSON.stringify(userId)) ? "images/filled-heart-icon.svg" : "images/empty-heart-icon.svg")
          p(class='heart-' + post_id) #{post.likes[0].username} and #{post.likes[1].username} and #{likes - 2} like this
    .reaction
      button.likeBtn(data-postId= post_id) like
    .comments
      if(post.comments.length !== 0)
        each comment in post.comments.reverse()
          +comment(comment)
      form(action="dashboard/new/comment?_method=PUT" method="post")
        input(type="hidden" name="postId" value=post_id required)
        input(type="text" name="comment" placeholder="Write a comment..." required)    
        button(type="submit") 
          img(src="images/send_icon2.svg" alt="Send")