mixin postCard(post, userId)
  include ./comment.pug 
  - var post_id = post._id;
  .card
    .postOwner
      img(src=`https://ui-avatars.com/api/?name=${post.author.username}&rounded=true`, alt="userImage")
      span.username= `${post.author.username}`
      span.postDate= post.createdAt
      if(JSON.stringify(user._id) == JSON.stringify(post.author._id))
        .dropdown
          img(class="dotsMenu" src="images/3-square-dots.svg" alt="Edit/Delete")
          .dropdown-content
            a(href="" class='deleteBtn' data-post-Id= post_id) Delete                  
            a(href="" class='editModelBtn' data-postId= post_id data-postBody= post.body) Edit
    .postText
      p= post.body
    .reaction
      .likeBtn(data-postId= post_id) 
        img(src= post.likes.some(user => JSON.stringify(user._id) === JSON.stringify(userId)) ? "images/filled-heart-icon.svg" : "images/empty-heart-icon.svg" alt="like heart icon")
        span Like
      .comments-btn
        img(src="images/insert_comment-24px.svg" alt="display or hide comments button")
        span Comments
    .postLikes
      - var likes = post.likes.length;
      case likes
        when 0
          //- img(src="images/empty-heart-icon.svg" alt="empty heart")
        when 1
          //- img(src= post.likes.some(user => JSON.stringify(user._id) === JSON.stringify(userId)) ? "images/filled-heart-icon.svg" : "images/empty-heart-icon.svg")
          p(class='heart-' + post_id) #{post.likes[0].username} likes this
        when 2
          //- img(src= post.likes.some(user => JSON.stringify(user._id) === JSON.stringify(userId)) ? "images/filled-heart-icon.svg" : "images/empty-heart-icon.svg")
          p(class='heart-' + post_id) #{post.likes[0].username} and #{post.likes[1].username} like this
        default
          //- img(src= post.likes.some(user => JSON.stringify(user._id) === JSON.stringify(userId)) ? "images/filled-heart-icon.svg" : "images/empty-heart-icon.svg")
          p(class='heart-' + post_id) #{post.likes[0].username} and #{post.likes[1].username} and #{likes - 2} like this
      span.commentCounter
        span.commentSize 0
        span /250
    .comments
      form
        input(type="hidden" name="postId" value=post_id required)
        input(type="text" name="comment" max="250" placeholder="Write a comment..." required)    
        button(type="submit") 
          img(src="images/send_icon2.svg" alt="Send")
      if(post.comments.length !== 0)
        div.comments-container
          each comment in post.comments.reverse()
            +comment(comment)