extends layouts/layout.pug
block content
  include partials/header.pug
  +header(user.username, user.isAdmin)
  main
    .postForm
      form.createPost
        textarea(class="postTextArea" name="newPost", placeHolder="What's on your mind?", required )
        button(type="submit") 
          img(src="images/send_icon.svg", alt="Send")
    .posts
      //- reverse posts to display newest at the top
      each post in posts.reverse()
        - var post_id = post._id;
        .card
          .postOwner
            div
              h3= `${post.author.username}`
              p= post.createdAt
            if(JSON.stringify(user._id) == JSON.stringify(post.author._id))
              .dropdown
                img(class="dotsMenu" src="images/3-square-dots.svg", alt="Edit/Delete")
                .dropdown-content
                  a(href="#" class='deleteBtn' data-post-Id= post_id) Delete                  
                  a(href="#/" class='editModelBtn' data-postId= post_id data-postBody= post.body) Edit
          .postText
            p= post.body
          .postLikes
            img(src="images/heartIcon.svg", alt="heart")
            p(class='heart-' + post_id) #{post.likes.length}
          .reaction
            button.likeBtn(data-postId= post_id) like
          .comments
            if(post.comments.length !== 0)
              each comment in post.comments.reverse()
                .comment
                  .commentOwner
                    div
                      h5=`${comment.author.username}`
                      p=comment.createdAt
                    if(JSON.stringify(user._id) == JSON.stringify(comment.author._id))
                      .dropdown
                        img(class="dotsMenu" src="images/3-square-dots.svg", alt="Edit/Delete")
                        .dropdown-content
                          a(href="#" class='deleteBtn' data-Id= `${post_id} ${comment._id}`) Delete
                  .commentText
                    p=comment.text
          form(action="dashboard/new/comment?_method=PUT", method="post")
            input(type="hidden", name="postId" value=post_id required)
            input(type="text" name="comment" placeholder="Write a comment..." required)    
            button(type="submit") 
              img(src="images/send_icon2.svg", alt="Send")
    .editModal
      .modal-content
        span.close-modal &times;
        h4 Edit post
        form(action="dashboard/edit/post?_method=PUT", method="post")
          input(type="hidden", name="postId" class="modelHiddenInput")
          textarea(name="editedText" class="editArea" required)
          button(type="submit" class="editBtn") Done
block scripts
  script(src="/javascripts/dashboard.js")