extends layouts/layout.pug
block content
  include partials/navbar.pug
  main
    .postForm
      form(action="dashboard/new/post", method="post")
        label Create Post
        textarea(name="newPost", placeHolder="What's on your mind?", required )
        button(type="submit") 
          img(src="images/sendIcon.svg", alt="Send")
    .posts
      //- reverse posts to display newest at the top
      each post in posts.reverse()
        .card
          .postOwner
            div
              h3= `${post.author.name} ${post.author.lastName}`
              p= post.createdAt
            if(JSON.stringify(user) == JSON.stringify(post.author._id))
              div.dropdown-menu 
                .dropdown-content
                  a(href="#" class='deleteBtn' data-post-Id= post._id) Delete
                  a(href="#/" class='editModelBtn' data-postId= post._id data-postBody= post.body) Edit
          .postText
            p= post.body
          .postLikes
            img(src="images/heartIcon.svg", alt="heart")
            - var postId = post._id;
            p(class='heart-' + postId) #{post.likes.length}
          .reaction
            button.likeBtn(data-postId= post._id) like
          .comments
            //- reverse comment array to display newest at the top
            each comment in post.comments.reverse()
              .comment
                .commentOwner
                  div
                    h5=`${comment.author.name} ${comment.author.lastName}`
                    p=comment.createdAt
                  if(JSON.stringify(user) == JSON.stringify(comment.author._id))
                    div.dropdown-menu 
                      .dropdown-content
                        a(href="#" class='deleteBtn' data-Id= `${post._id} ${comment._id}`) Delete
                .commentText
                  p=comment.text
          form(action="dashboard/new/comment?_method=PUT", method="post")
            input(type="hidden", name="postId" value=post._id required)
            input(type="text" name="comment" placeholder="Write a comment..." required)    
            button(type="submit") 
              img(src="images/sendIcon.svg", alt="Send")
    .editModal
      .modal-content
        span.close-modal &times;
        h4 Edit post
        form(action="dashboard/edit/post?_method=PUT", method="post")
          input(type="hidden", name="postId" class="modelHiddenInput")
          textarea(name="editedText" class="editArea" required)
          button(type="submit" class="editBtn") Send
block scripts
  script(src="/javascripts/dashboard.js")