extends layouts/layout.pug
block content
  include partials/navbar.pug
  main
    .postForm
      form(action="new/post", method="post")
        label Create Post
        input(type="text" name="newPost" placeholder="What's on your mind" required)
        button(type="submit") Post
    .posts
      each post in posts.reverse()
        .card
          .postOwner
            h3= post.createdBy
            p= post.createdAt
          .postText
            p= post.body
          .heart
            p ❤ #{post.likes}
          .reaction
            ul
              li
                a(href=`#`) Like 
          .comments
            each comment in post.comments
              .comment
                h5=comment.author
                p=comment.createdAt
                p=comment.text
          form(action="new/comment?_method=PUT", method="post")
            input(type="hidden", name="author" value=userName)
            input(type="hidden", name="postId" value=post._id)
            input(type="text" name="comment" placeholder="Write a comment...")    
            button(type="submit") Send