extends layouts/layout.pug
block content
  include partials/header.pug
  +header(username, isAdmin, page_name)
  .profile-container
    .profile-menu
      a(class="updateBtn") Update
      a(class="myPostsBtn") My posts
    form(class="profile-form")
      div
        label(for="username") Username:
          input(type="text" name="username" value= username required)
      div
        label(for="email") Email:
          input(type="email" name="email" value= email required)
      div  
        label(for="newPassword") New password:
          input(type="password" name="newPassword" placeholder="New Password")
      div  
        label(for="confirmPassword") Confirm Password:
          input(type="password" name="confirmPassword" placeholder="Confirm Password")
      button(type="submit") Update
    .myposts.hide
      table.layout.display
        caption My posts: #{posts.length}
        thead
          tr
            th(scope="col") Date
            th(scope="col") Content
            th(scope="col") Reacts
            th(scope="col") Comments
            th(scope="col") Actions
        tbody
          each post in posts.reverse()
            - var postId = post._id
            tr
              td(data-label="Date") #{post.createdAt}
              td(data-label="Content")= post.body
              td(data-label="Reacts") #{post.likes.length}
              td(data-label="Comments") #{post.comments.length} 
              td(data-label="Actions")
                a(href="#/" class="delete-post" data-postId= postId) Delete 
block scripts
  script(src="/javascripts/profile.js")