extends layouts/layout.pug
block content
  include partials/header.pug
  +header(username, isAdmin, page_name)
  .profile-container
    .profile-menu
      a(class="updateBtn") Update
      a(class="myPostsBtn") My posts
    form(class="profile-form")
      div
        label(for="username") Username:
          input(type="text" name="username" value= username required)
      div
        label(for="email") Email:
          input(type="email" name="email" value= email required)
      div  
        label(for="newPassword") New password:
          input(type="password" name="newPassword" placeholder="New Password")
      div  
        label(for="confirmPassword") Confirm Password:
          input(type="password" name="confirmPassword" placeholder="Confirm Password")
      button(type="submit") Update
    .myposts.hide
      h1 My posts: #{posts.length}
      .labels
        p Date
        p Reacts
        p Comments
        p Actions
      each post in posts.reverse()
        - var postId = post._id
        .postData
          p= post.createdAt.split(',')[0]
          p= post.likes.length
          p= post.comments.length
          .actions
            div
              img(src="images/show-24px.svg" alt="Show post")
            a(href='#/' class="delete-post" data-postId= postId)
              img(src="images/delete-24px.svg" alt="delete post")
        .postContent.hide
          p= post.body
block scripts
  script(src="/javascripts/profile.js")